@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(20px);

    .header-logo {
      // Styles for the logo container

      .logo-img {
        // Styles for the logo image
      }
    }

    nav {
      font-size: rem(20px);
      .nav-list {
        display: flex;
        flex-direction: row;
        gap: rem(35px);

        .nav-item {
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
          // Styles for each nav item

          .active-link {
            font-weight: bold;
            // Styles for the active link
          }

          .inactive-link {
            color: $clr-p-txt;
            // Styles for the inactive link
          }
        }
      }
    }

    .social-header-icon {
      display: flex;
      gap: rem(10px);

      .header-icon {
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);

          .github-icon {
            // Additional styles for GitHub icon on hover (if needed)
          }

          .linkedin-icon {
            // Additional styles for LinkedIn icon on hover (if needed)
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .main-header {
    .nav-list {
      gap: rem(30px);
    }

    .header-logo {
      .logo-img {
        max-height: rem(60px);
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-header {
    .nav-list {
      gap: rem(40px);
    }

    .header-logo {
      .logo-img {
        max-height: rem(70px);
      }
    }
  }
}
