.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(32px);

  .hero-txt {
    text-align: center;

    .hero-h1 {
      font-size: rem(40px);
      height: rem(200px);
      line-height: 1.2;

      .fullname {
        color: $clr-fullname;
      }
    }
  }

  .hero-img {
    .adir-hero-img {
      border-radius: 50%;
      border: rem(2px) solid black;
      width: rem(150px);
      height: rem(150px);
      object-fit: cover;
      box-shadow: 0 rem(4px) rem(10px) rgba(0, 0, 0, 0.2);
    }
  }
}
