.main-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: rem(20px);
  .header-logo {
    .logo-img {
      width: rem(80px);
      height: rem(80px);
    }
  }

  nav {
    .nav-list {
      display: none;

      .nav-item {
        &:hover {
        }

        .active-link {
        }

        .inactive-link {
        }
      }
    }
  }

  .social-header-icon {
    display: none;

    .header-icon {
      &:hover {
        .github-icon {
        }

        .linkedin-icon {
        }
      }
    }
  }
}
