// Colors
$clr-bg-lightmode: #F5F5F5;
$clr-p-txt: #666666;
$clr-h-txt: #000000;


$clr-bg: #242428; /* צבע רקע עיקרי */
$clr-txt: #E0E0E0; /* צבע טקסט */
$clr-hd: #FFFFFF; /* צבע כותרות */
$clr-lnk: #4FA9E2; /* צבע לינקים */
$clr-lnk-hov: #0D47A1; /* צבע לינקים במעבר עכבר */
$clr-ac: #FF6F61; /* צבע הדגשה */
$clr-sec-bg: #1E1E1E; /* צבע רקע משני */